.course-list a {
    text-decoration: none;
}

.note-card {
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.note-card:hover {
    box-shadow: none;
}