/* note-title */
.note-title {

}
.note-title h2 {
    position: relative;
    font-size: 2.3rem;
    color: rgb(107, 107, 107);
    margin-bottom: 10px;
    display: inline-block;
}
.note-title h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #535353;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    animation: between 1s ease forwards;
}
.note-title h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: rgb(255, 199, 120);
}
/*  Swiper */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

@keyframes between {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}