.note-title {

}
.note-title h2 {
    position: relative;
    font-size: 2.3rem;
    color: rgb(107, 107, 107);
    margin-bottom: 10px;
    display: inline-block;
}
.note-title h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #535353;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    animation: between 1s ease forwards;
}
.note-title h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: rgb(255, 199, 120);
}

@keyframes between {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}